In [6]:
# --NUMPY BÖLÜMÜ--
# 1.Numpy İle Matris İşlemleri 

import numpy as np
import pandas as pd
np.random.seed(10)
M1 = np.random.randint(0,101, size = (5,5))


sapma = np.std(M1)
ort = np.mean(M1)
vary = np.var(M1)


sol_ust     = M1[0, 0] 
sol_alt     = M1[-1, 0]
sag_ust     = M1[0, -1]
sag_alt     = M1[-1, -1]


birinci_kosegen = np.diagonal(M1)
ikinci_kosegen = np.fliplr(M1).diagonal()  # Ayna görüntüsü alıyor bu yüzden diagonal kodu eklenir 



print("MATRİS:\n",M1)
print("Standart sapma : ",sapma)
print("Ortalama: ",ort)
print("Varyans : ",vary)
print("En Küçük Değer: " , M1.min())
print("En Büyük Değer: " , M1.max())
print("Sol Üst : ",sol_ust)
print("Sol Alt : ",sol_alt)
print("Sag Üst : ",sag_ust)
print("Sag Alt : ",sag_alt)
print("Birinci Köşegen : ",birinci_kosegen)
print("İkinci Köşegen : ",ikinci_kosegen)
print("İki köşegenin toplamı:", birinci_kosegen.sum() + ikinci_kosegen.sum())

MATRİS:
 [[  9 100  15  64  28]
 [ 89  93  29   8  73]
 [  0  40  36  16 100]
 [ 11  54  88  62  33]
 [ 72 100  78  49  51]]
Standart sapma :  32.08354095170918
Ortalama:  51.92
Varyans :  1029.3536
En Küçük Değer:  0
En Büyük Değer:  100
Sol Üst :  9
Sol Alt :  72
Sag Üst :  28
Sag Alt :  51
Birinci Köşegen :  [ 9 93 36 62 51]
İkinci Köşegen :  [28  8 36 54 72]
İki köşegenin toplamı: 449

In [7]:
# 2.Numpy İle Veri Simülasyonu

np.random.seed(10)
puanlar=np.random.normal(loc=75,scale=15,size=1000).astype(int)
kırpılmıs_puanlar=np.clip(puanlar,0,100)
ort=np.mean(puanlar)
medyan=np.median(puanlar)
sapma=np.std(puanlar)
dusuk_puanlar=np.sum(puanlar<50)
print("Puan Listesi\n  ",kırpılmıs_puanlar)
print("Ortalama: ",ort)
print("Medyan:",medyan)
print("Standart Sapma: ",sapma)
print("50 den Düşük Öğrenci Sayısı ",dusuk_puanlar)

Puan Listesi
   [ 94  85  51  74  84  64  78  76  75  72  81  93  60  90  78  81  57  77
  97  58  45  48  78 100  91 100  76  95  70  84  70  66  76  67  94  77
  81  69  93  64  84  69  60  67  62  71  69  79  83  72  74  79  66  85
  87  78 100  88  73  69  71  67  91  64  73  67  90  53  69  73  79  81
  71  89  79 100  52  84  59  63 100 100  47  71  74  43  74  80  78  45
  91  78  74  63  85  88  67  76  87  45  76  46  61  82  72  68  70  87
  85  63  79  67 100  63  70  69  68  77  79  50  66  55  93 100  95  80
  90  77  99  85  71  58  65  79  56  71  95  75 100  96  70  54  74  67
  80  99  58  69  79  92  82  81  95  82  71  75  64  83  89  30  93  74
  81  84  40  57  70  63  79  67  49  84  91  83  64  71  83  84  90  70
  53  64  83  86 100  76  78  72  68  86  80  71  58  73  69  93  89  59
  92  66  76  93  59  77  58  45  89  75  62  51  68  95  81  69  64  76
  51  95  82  92  66  87  85  52  77  79  66  69  81  74  59  83  78  78
  76  81  70  62  63  91  44  83  53  50  59  71  85  49 100  92  73  70
  60  83  76  96  64  83  74  62 100  79  84  58  64  76  66  84  81  63
  77  75  72  57  62  78  90  60  93  77  55  79  88  78 100  79  88  75
  89  39  62  69  82  77  91  80  78  72  77  87  86  88  71  64  67  80
  99  78  82  50 100  58 100  66  89  87  75  72  60  74  91  80  61  92
  56  78  61  63  91  68  52  66  86  64  93  90  76  92 100  45  92  84
  70  84  80  66  97  77  92  71  50  78  71  56  49  84  94  95  83  75
  77  75  86  67  56  71  77  71  75 100  88  54  84  42  84  82  75  60
  60  81  65  87  65  69  86  74  72  79  80  73  78  73  81  79  82  87
  59  54  71  72  81  56  77  81  50  81  95  76  61  66  73  67  26  96
  67  72  88  78  67  73  83  83  72  86  86  67  59  79  83  68  68  83
  77  95  82 100  82  61  72  73  49  85  75  74  66  58  71  61  75  61
  53  76  77  83  75  96  65  91  60  64  68  71  97  65  55  86  74  51
  80  89  69  98  98  64  87  43  77  63  89  61  90  62  68  63  78  54
  84  64 100  71  63  82  62  83  68  82  75  83  64  65  96  95  88  66
  94  70  72  90  73  74  70  65  64  69  77  70  57  72  71  76  81  79
  62  62  67  63  51  67  53  56  56  59  58  61  71  87  54  90  82  83
  71  77  83  84  69  86  93  89  85  65  75  77  68  78  77  74  72  74
  75  69  68  74  58  47  71  57  99  85  93  85  70  82  82  54  86  61
  57  86  66  60  92  48  63  91 100  75  88  60 100  66  32  76  77  63
  78  94  54  82  60  97  83  67  79  69  84  74  94 100  80  88  80  67
  82  89  87  77  72 100  88  95  65  96  53  82  75  77  68  88  83  77
 100  90  77  74  45  65  67  62  73 100  82  71  58  89  71 100  77  96
  82  76  76  84  74  51  46  64  62  78  73  82  71  83  80  91  61  46
  65  85  65  67  55  60  72  48  72  75  72  76  65  94  86  63  73  65
  94  73  56  87  84  71  67  68  74  59 100  73 100  68  71  70  88  89
  79  92  92  89  68  57  50  53  70  55  73  97  72  46  87  71  67  70
  55  75  86  59  83  84  66  90  57  81  72  73  80  78  45  55  58  71
  86  90  85  77  60  92  76  56  65  93  96  60 100  88  83  57 100  74
  63  68  73  60  84  73  49  61  57  62  66  77  70  72  63  85  70 100
  61  74  94  57  60  58  73  70  78  91  57  69  80  37  67  68  65  79
  91  66 100  64  74  78  52  81  75  77  90  75  91  54  71  93  73  56
  57  63  55  82  32  62  54  54  66  56  82  63  66  87  79  76  74  58
  79 100  71  59  52  46  69  66  90  73  84  84  92  70  89  81  59  59
  81  70  41  78  78  77  97  69  51  84  77  84  84  77  66  74  72  68
  77  73  75  58  70  57  59  95  59  82  49  73  90  86  63  86  69  60
  56  44  82  86 100  69  70  66  79  77  52  82  83  78  71  46  76  73
  68  76  71  76  73  67  58  56  80  74  81  81  73 100  67  76  67  69
  59  85  67  84  90  74  67  79  83  84  55  97  61  54  84  69  76  78
 100  77  82  69  64  87  83  98  63  80  86  49  55  82  78  65  88  61
  53  76  76  89  78  87  60  87  59  90  72  74  68  73  70  53  62  65
  79  82  70  80  81  70  38  75  96  66  86  64  65 100  73  60  92  79
  80  46  69  76  72  59  70  96  69  84]
Ortalama:  74.282
Medyan: 74.0
Standart Sapma:  14.068634475314228
50 den Düşük Öğrenci Sayısı  40

In [11]:
# --PANDAS BÖLÜMÜ--
isim=['Ali','Ayşe','Mehmet','Zeynep','Ahmet']
yas=[20,21,19,22,20]
bolum=['Bilgisayar','Fizik','Kimya','Bilgisayar','Fizik']
mat_notlar=[70,60,80,90,55]
fiz_notlar=[65,75,70,85,60]
kim_notlar=[80,85,65,95,70]

dframe=pd.DataFrame({'ÖĞRENCİ':isim,'YAŞ':yas,'BÖLÜM':bolum,'MATEMATİK':mat_notlar,'FİZİK':fiz_notlar,'KİMYA':kim_notlar})

dframe["ORTALAMA"] = dframe[["MATEMATİK", "FİZİK", "KİMYA"]].mean(axis=1).astype(int)
dframe

  ÖĞRENCİ  YAŞ       BÖLÜM  MATEMATİK  FİZİK  KİMYA  ORTALAMA
0     Ali   20  Bilgisayar         70     65     80        71
1    Ayşe   21       Fizik         60     75     85        73
2  Mehmet   19       Kimya         80     70     65        71
3  Zeynep   22  Bilgisayar         90     85     95        90
4   Ahmet   20       Fizik         55     60     70        61

In [10]:
#--GÖREVLER--
ort_mat=sum(mat_notlar) / len(mat_notlar)
ort_fiz=sum(fiz_notlar) / len(fiz_notlar)
ort_kim=sum(kim_notlar) / len(kim_notlar)
mat_max = dframe["MATEMATİK"].max()
ogrenci = dframe[dframe["MATEMATİK"] == mat_max]
yuksek_ort_isim=dframe[dframe["ORTALAMA"] > 70]["ÖĞRENCİ"]
bolum_ortalamalari = dframe.groupby('BÖLÜM')[["MATEMATİK", "FİZİK", "KİMYA"]].mean()

print("Fizik Dersi Ortalaması :", ort_fiz)
print("Matematik Dersi Ortalaması :", ort_mat)
print("Kimya Dersi Ortalaması :", ort_kim)
print("En yüksek matematik notunu alan öğrenci:")
print(ogrenci[["ÖĞRENCİ", "MATEMATİK"]])
print("Ortalaması 70'den Yüksek Öğrenciler\n",yuksek_ort_isim.tolist())
print("Bölüm Ortalamaları\n", bolum_ortalamalari)

Fizik Dersi Ortalaması : 71.0
Matematik Dersi Ortalaması : 71.0
Kimya Dersi Ortalaması : 79.0
En yüksek matematik notunu alan öğrenci:
  ÖĞRENCİ  MATEMATİK
3  Zeynep         90
Ortalaması 70'den Yüksek Öğrenciler
 ['Ali', 'Ayşe', 'Mehmet', 'Zeynep']
Bölüm Ortalamaları
             MATEMATİK  FİZİK  KİMYA
BÖLÜM
Bilgisayar       80.0   75.0   87.5
Fizik            57.5   67.5   77.5
Kimya            80.0   70.0   65.0